*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1248px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-left: 80px;
}
.col3{
    width: calc(100%/12*3);
}
.card{
    position: relative;
    border: 1px solid whitesmoke;
    padding-bottom: 30px;
    margin:  30px;
    width: 300px;
    border-radius: 10px;
    
}
.photo{
    position: relative;
    width:100%;
    min-height: fit-content;
    border-radius: 10px;
    
    
    
}
.action{
    display: flex;
    margin-left: 10px;
    gap: 5px;
}
.rating{
    position: relative;
    display: flex;
    gap: 10px;
    color: gold;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 50px;

}
.rating a{
    
    font-size: 18px;
    color: black;
    margin-top:7px;
}
.price{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'source_sans_prosimibold',sans-serif;
    font-size: 20px;
    color: #F27A1A;
}
.price p{
    font-family: 'source_sans_prosimibold',sans-serif;
    font-size: 10px;
    color: #F27A1A;
    margin-top: 10px;
}
.price1{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'source_sans_prosimibold',sans-serif;
    font-size: 20px;
    color: #BB0000;
}
.photo{
    
 cursor:pointer ;
}
.rating a{
    cursor: pointer;
}
h3{
    cursor: pointer;
}
.col3:hover{
    transform: translateY(-10px);
}

.heartlogo{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.product-stamp{
    position: absolute;
    top: 7px;
    left: 10px;
}