* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 50px;
}
.title0{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color:#666666;
}
.title1{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color:#666666;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

col-4{
    width: calc(100%/12*4 - 20px); 
}
.card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
    border-radius: 8px;
    
}

img {
    max-width: 100px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size:38px;
}

h5 {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

span {
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ff3494;
    color: #ff3494;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.title2 {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    font-family:'Poppins', sans-serif;
    color: #666666;
}

@media (max-width: 850px) {
    .col-6{
        width: calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    .col-12{
        width: 100%;
    }

    img {
        max-width: 80px;
    }
}